<div 
*ngIf="!pais;else divPais"
class="alert alert-info"
   >
    Espere por favor...
</div>



<ng-template #divPais>
    <div class="row">
        <div class="col-12">
             <h2 >Pais: {{pais.name}}</h2>
          </div>
    </div>

    <div class="row">
        <div class="col-4">
            <h3>bandera</h3>
            <img [src]="pais.flag" class="small-flag">
        </div>
        <div class="col">
            <h3>Informacion</h3>
            <ul class="list-group">
             <li class="list-group-item">
              <strong>poblacion </strong>{{pais.population}}
             </li>
             <li class="list-group-item">
                <strong>codigo de llamadas </strong>{{pais.callingCodes}}
               </li>
               <li class="list-group-item">
                <strong>codigo alpha 3 </strong>{{pais.alpha3Code}}
               </li>
            </ul>
        </div>
    </div>
<h3>Traducciones</h3>
<div class="row">
    <div class="col">
     <span class="badge bg-primary mr-1 ">{{pais.translations.br}}</span>
     <span class="badge bg-primary mr-1 ">{{pais.translations.fr}}</span>

     
 
    </div>
</div>


</ng-template>
    